<header class="header">

  <h1 {{bind-attr class='mf.postTitle'}}>{{title}}</h1>

  {{partial 'posts/published-date'}}

  {{#with content}}
    {{partial 'posts/tags'}}
  {{/with}}

</header>

<hr>

<div {{bind-attr class='mf.postContent'}}>
  {{partial urlString}}
</div>

<hr>

{{!-- {{disqus-comments}} --}}
