{{#with model as |post|}}
  <header class="header">

    <h1 {{bind-attr class='mf.postTitle'}}>{{post.title}}</h1>

    {{partial 'blog/published-date'}}
    {{partial 'blog/tags'}}

  </header>

  <hr>

  <div {{bind-attr class='mf.postContent'}}>
    {{partial post.urlString}}
  </div>

  <hr>

  {{!-- {{disqus-comments}} --}}
{{/with}}
