<article {{bind-attr class='mf.postPreview'}}>

  <h2 {{bind-attr class='mf.postTitle'}}>
    {{#link-to 'post' view.content.urlString class='u-url'}}
      {{view.content.title}}
    {{/link-to}}
  </h2>

  {{partial 'posts/published-date'}}

  <p {{bind-attr class='mf.postDescription'}}>
    {{view.content.description}}
  </p>

  {{partial 'posts/tags'}}

  {{!-- TODO - comment count only works on firts page load --}}
  {{!-- {{partial 'partials/comment_count'}} --}}

</article>
