<article {{bind-attr class='mf.postPreview'}}>

  <h2 {{bind-attr class='mf.postTitle'}}>
    {{#link-to 'blog.post' post.urlString class='u-url'}}
      {{post.title}}
    {{/link-to}}
  </h2>

  {{partial 'blog/post-partials/published-date'}}

  <p {{bind-attr class='mf.postDescription'}}>
    {{post.description}}
  </p>

  {{partial 'blog/post-partials/tags'}}

  {{!-- TODO - comment count only works on firts page load --}}
  {{!-- {{partial 'partials/comment_count'}} --}}

</article>
