<header class="header">

  <h1 {{bind-attr class='mf.postTitle'}}>{{title}}</h1>

  {{partial 'partials/published'}}

  {{#with content}}
    {{partial 'partials/tags'}}
  {{/with}}

</header>

<hr>

<div {{bind-attr class='mf.postContent'}}>
  {{{body}}}
</div>

{{partial 'partials/social_links'}}

{{disqus-comments}}
